[submodule "Prism/vendor/GLFW"]
	path = Prism/vendor/GLFW
	url = https://github.com/Or4kel/glfw.git
[submodule "Prism/vendor/spdlog"]
	path = Prism/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Prism/Vendor/glm"]
	path = Prism/Vendor/glm
	url = https://github.com/g-truc/glm
